"" Source your .vimrc
source ~/.vimrc

" Plugins
Plug 'tpope/vim-surround'
Plug 'tpope/vim-repeat'

set surround repeat

nmap J <Action>(EditorJoinLines)
vmap J <Action>(EditorJoinLines)

map gi <Action>(GotoImplementation)
map gf <Action>(SelectInProjectView)
map gh <Action>(ShowErrorDescription)
nmap s <Plug>(easymotion-s)

map <C-o> <Action>(Back)
map <C-i> <Action>(Forward)

" Apparently VIM undo/redo behaves quite differently then what Intellij undo/redo
map u <Action>($Undo)
map <C-r> <Action>($Redo)

map <Leader> <Plug>(easymotion-prefix)

set ideamarks
set highlightedyank

set quickscope
set easymotion
